/* RESET  -- http://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:active {
  outline: none;
}

/************************************************************************************************************************/
/** VARIABLES **/

:root  {
  --fs-s: 14px;
  --fs-m: 16px;
  --fs-l: 20px;
}

/****************/
/** NAVIGATION **/
/****************/

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  background: rgb(64, 189, 151);
}

.nav-list {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(255, 255, 255, 0.7);
}

.nav-item:hover {
  color: white;
}

/**********/
/** HOME **/
/**********/

.home {
  width: 100%;
  height: 50vh;

  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  text-align: center;

  background: rgb(64, 160, 189);
}

.home h1 {
  padding: 1em;
  font-size: 1.6em;
}

.home h2 {
  padding-bottom: 0.8em;
  font-size: 1.4em;
}

.home-desc {
  color: white;
}

.home-desc a {
  text-decoration-line: underline;
  transition: 100ms ease-in-out;
}

.home-desc a:hover {
  color: blue;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social a {
  margin: 1em;
}

.btn-github {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px 16px;

  font-weight: 600;

  background: black;
  color: white;
  border-radius: 5px;
}

.btn-github i {
  margin-right: 10px;
}

.btn-resume {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;

  font-weight: 600;

  background: rgb(202, 28, 28);
  color: white;
  border-radius: 5px;
}

.btn-resume i {
  margin-right: 10px;
}

/**************/
/** PROJECTS **/
/**************/

.projects {
  padding: 1em;
  background: rgba(28, 255, 255, 0.623);
}

.projects h2 {
  padding: 1em;

  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
}

.project {
  display: flex;
  flex-direction: column;

  margin: 10px;

  border-radius: 2px;
  box-shadow: 5px 5px 32px -5px rgba(0, 0, 0, 0.5);
  background: white;
}

.project-desc {
  display: grid;
  grid-template-columns: auto 3fr;
  grid-template-rows: auto auto minmax(auto, 35px);
}

.project-desc img {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: block;
  margin: auto;
  padding: 5px;
}

.project-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  padding: 10px 0 8px 5px;

  text-transform: uppercase;
}
.project-description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding-left: 5px;
  padding-bottom: 4px;

  font-size: 0.8em;
}

.project-links {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  font-size: 12px;

  padding: 0.5em;
}

.btn {
  padding: 4px;
  margin-right: 8px;

  border: 1px solid black;
  border-radius: 5px;
}

/***********/
/** ABOUT **/
/***********/

.about {
  padding: 1em;
  background: rgb(64, 160, 189);
}

.about-me {
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;

  padding: 1em;
}

.about-text {
  padding: 0 1em;
}

/************/
/** FOOTER **/
/************/

.footer {
  background: rgb(64, 189, 151);
  text-align: center;
  font-size: 1.2em;
  padding: 0.7em;
}

@media (min-width: 480px) {
}
