/* RESET  -- http://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Roboto, sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:active {
  outline: none;
}

* {
  scroll-behavior: smooth;
}

/************************************************************************************************************************/
/** VARIABLES **/

:root {
  --color-primary: rgba(70, 211, 152);
  /** background-image: linear-gradient(to right bottom, #d1ffeb, #bff9e1, #acf2d8, #98eccf, #82e5c7, #74e1c1, #65ddbc, #54d9b6, #4ad7b1, #3fd4ac, #32d2a7, #21cfa2); **/
}

/****************/
/** NAVIGATION **/
/****************/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;

  background: white;
  border-bottom: 1px solid var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 0; 
}

.nav-list {
  width: 100%;
  height: 100%;

  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  width: 100%;
  height: 100%;

  color: var(--color-primary);

  transition: all 300ms ease-in-out;  
}

.nav-item:hover {
  background: var(--color-primary);
  color: white;
}

.nav-link {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********/
/** HOME **/
/**********/

.home {
  width: 100%;
  height: 100vh;

  text-align: center;
  border-bottom: 2px solid var(--color-primary);
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  color: black;
}

.home h1 {
  width: fit-content;

  margin: 5em auto 0 auto;
  padding-left: 6px;

  font-size: 2.5em;
  letter-spacing: 8px;  

  color: white;
  background: rgb(70, 211, 152);
}

.home h2 {
  width: fit-content;

  margin: 1em auto;
  padding-bottom: 0.5em;
  font-size: 1.8em;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.home-desc {
  padding: 0 8px;

  font-size: 0.9em;
  line-height: 1.7em;
}

.home-desc a {
  letter-spacing: 2px;

  background: var(--color-primary);
  color: white; 
  transition: 100ms ease-in-out;
}

.home-desc a:hover {
  padding: 4px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social a {
  margin: 5em 2em;
}

.home-btn {
  padding: 0.5em 1em;

  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 25px;

  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);

  transition: all 150ms ease-in-out;
}

.home-btn:hover {
  background: var(--color-primary);
  color: white;
}

/**************/
/** PROJECTS **/
/**************/

.projects {
  padding: 1em 0;
  border-bottom: 2px solid var(--color-primary);
}

.projects h2 {  
  margin-top: 1em;
  padding: 1em;

  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-primary);
}

.project {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: 250px;   
  margin: 20px auto;

  border-radius: 5px;
  box-shadow: 5px 5px 36px -15px rgba(0, 0, 0, 0.5);

  background-image: url('https://picsum.photos/500');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.project-desc {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: rgba(77, 77, 77, 0.5);
  overflow: hidden;

  opacity: 0;

  transition: all 0.3s ease-in-out;
}

.project-desc:hover {
  opacity: 1;
}

.project-title {
  width: fit-content;
  margin: 0.5em auto 0.5em 1em;
  padding: 0 5px;

  font-size: 1.6em;
  letter-spacing: 4px;
  color: white;
  background: var(--color-primary);
  text-transform: uppercase;
  text-align: center;
}

.project-techs {
  align-self: flex-end;

  display: flex;
  flex-direction: row;

  margin-right: 0.5em;

  color: white;
}

.project-techs li {
  background: black;
  margin: 0 5px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
  background-color: var(--color-primary);
}

.project-links {  
  width: 70%;

  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  

  font-size: 16px;
  margin-top: 5em;
  padding: 0.5em;

  color: var(--color-primary);

}

.btn {
  padding: 0.5em 1em;
  margin-right: 8px;

  
  background-color: rgba(0,0,0,0.2);
  border: 2px solid var(--color-primary);
  border-radius: 25px;

  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

/***********/
/** ABOUT **/
/***********/

.about {
  padding: 1em;
}

.about-me {
  color: var(--color-primary);
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;

  padding:  1em 1em 0.5em 1em;
}

.about-text {
  max-width: 280px;
  margin: 0 auto 1em auto;
  padding: 0 1em;

  line-height: 1.4em;
}

.about-text p {
  margin-top: 1em;
}

/************/
/** FOOTER **/
/************/

.footer {
  background: var(--color-primary);
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 0.7em;
}

@media (min-width: 480px) {
  .about-text {
    max-width: 400px;
  }
}

@media (min-width: 620px) {
  .home-desc {
    line-height: 2em;
  }

  .project {
    width: 450px;
  }

  .about-text {
    max-width: 600px;

    margin-top: .5em;
    margin-bottom: 3em; 
  }

  .about-text p {
    margin-top: 1.5em;
  }
}

@media (min-width: 960px) {
  .project {
    width: 600px;
    margin: 40px auto;
  }

  .project-techs {
    margin-top: 20px; 
  }
}
